//  Color Pallete
$color-primary: #333333;
$color-secondary: #eeeeee;
$color-accent: #ff1493;

$color-background-primary: #cccccc;
$color-background-secondary: #ffffff;

$color-shadow-top: #8f8f8f;
$color-shadow-top-secondary: #5c5c5c;

$color-gradient-day: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
$color-gradient-night: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);

//  Fonts
$font-primary: 'News Cycle', sans-serif;

$font-24: 1.5em;
$font-22: 1.375em;
$font-20: 1.25em;
$font-18: 1.125em;
$font-16: 1em;
$font-14: 0.875em;
$font-12: 0.75em;
